html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Uroboros Games Ltd.
        link(href='https://fonts.googleapis.com/css?family=Play&display=swap' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Russo+One&display=swap' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Roboto&display=swap' rel='stylesheet')


    body           
        main
            .title
                .wrap
                    h1.title__header UROBOROS GAMES
                    p.title__text Профессиональная команда, мы занимаемся разработкой компьютерных игр и прочими вещами
                    button.title__cta.cta-button
                        | Предложить идею
            .content    
                h2.content__header Мы классная команда делаем интересные игры и прочее
                p.content__text Мы разрабатываем дизайн-проекты высокого класса. В нашей студии вас услышат и поймут. Мы — профессиональная команда квалифицированных дизайнеров. Все наши специалисты много лет работают в сфере дизайна и строительства, что позволяет нам понимать наших клиентов с полуслова
                .content__crew  
                    .content__crew-member
                        .content__crew-pic
                            img(src="/img/6.png")
                        h4.content__crew-name Дмитрий Васильев
                        p.content__crew-duty Продюссер

                    .content__crew-member
                        .content__crew-pic
                            img(src="/img/4.png")
                        h4.content__crew-name Дмитрий Васильев
                        p.content__crew-duty Продюссер

                    .content__crew-member
                        .content__crew-pic
                            img(src="/img/1.png")
                        h4.content__crew-name Дмитрий Васильев
                        p.content__crew-duty Продюссер


                    .content__crew-member
                        .content__crew-pic
                            img(src="/img/2.png")
                        h4.content__crew-name Дмитрий Васильев
                        p.content__crew-duty Продюссер

                    .content__crew-member
                        .content__crew-pic
                            img(src="/img/3.png")
                        h4.content__crew-name Дмитрий Васильев
                        p.content__crew-duty Продюссер
                h2.content__bottom-offer Свяжитесь с нами, мы открыты к вашим предложениям
                button.content__cta.cta-button Предложить идею

        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')