* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a {
    cursor: pointer;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


.wrap {
    min-width: 320px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 768px) {
        max-width: 738px;
    }

    @media screen and (min-width: 1170px){
        max-width: 1140px;
    }
}

.button {
    position: relative;
    padding: 14px 40px;  
    border: none;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    background: linear-gradient(129deg, #F3BE49 0%, #D55E1F 100%);
    
    border-radius: 8px;
    @media screen and (min-width: 768px){
        padding: 18px 35px;    
    }
    

    span {
        font-family: 'Play', sans-serif;
        font-size: 23px;
        color: #FFFFFF;
        letter-spacing: 0; 
        position: relative;
        @media screen and (min-width: 768px) {
            font-size: 23px;
            letter-spacing: 0;
        }        
    
    }
    &:before {
        position: absolute;
        display: block;
        content: '';
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: transparent; 
        opacity: 0;
        z-index: 0;
        transition: all 300ms;
    }

    &:hover {
        &:before {
            background:  #D55E1F;
            opacity: 1;
            transition: all 300ms;
        }
    }

    &:active {
        &:before {
            background:  #C7451C;
            opacity: 1;
            transition: all 300ms;
        }
    }
}

.vacancy {
    padding: 100px 0 71px;
    background-color: #222851;
    @media screen and (min-width: 768px) {
        padding: 105px 0 85px;
    }

    &__wrap {}

    &__title {
        font-family: 'Russo One', sans-serif;
        font-size: 28px;
        color: #FFFFFF;
        letter-spacing: -0.35px;
        line-height: 30px;
        margin: 0;
    }

    &__subtitle {
        opacity: 0.7;
        font-family: 'Play', sans-serif;
        font-size: 18px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 23px;
        margin: 14px 0 0;
        @media screen and (min-width: 768px) {
            margin: 12px 0 0;
        }    
    }

    &-list {
        display: flex;
        flex-direction: column;
        margin: 40px 0 -25px;
        @media screen and (min-width: 768px) {
            margin: 34px 0 -30px;
        }    
    }

    &-item {
        background: #F9F9FF;
        border-radius: 8px;
        padding: 25px 20px;
        margin: 0 0 25px;
        @media screen and (min-width: 768px) {
            padding: 40px 45px;
        }
    
        &__header {
            display: flex;
            align-items: center;
        }

        &__icon {
            display: block;
            margin: 0 10px 0 0;
            flex: 0 0 auto;
            width: 22px;
            position: relative;
            @media screen and (min-width: 768px) {
                margin: 0 15px 0 0;
            }
    
            img {
                position: absolute;
                top: 0;left: 0;width: 100%;height: 100%;
            }
        }

        &__title {
            font-family: 'Play', sans-serif;
            font-size: 20px;
            letter-spacing: -1.11px;
            text-align: center;
            margin: 0;
            
            &.--red {
                color: #D71810;
            }

            &.--yellow {
                color: #FFBD47;
            }
        }

        &__city {
            font-family: 'Play', sans-serif;
            font-size: 13px;
            color: #A4A4A4;
            letter-spacing: 0;
            margin: 10px 0 0;
        }

        &__text {
            font-family: 'Play', sans-serif;
            font-size: 15px;
            color: #303030;
            letter-spacing: 0;
            line-height: 20px;
            margin: 20px 0 0;
            @media screen and (min-width: 768px) {
                margin: 15px 0 0;
            }

        }

        &__more {
            margin-top: 15px;
            cursor: pointer;

            &.open {
                .vacancy-item__more-text {
                    &:first-of-type {
                        display: inline-block;
                    }

                    &:last-of-type {
                        display: none;
                    }
                }

                .vacancy-item__more-icon {
                    img {
                        transform: rotate(180deg);
                        transition: transform 300ms;
                    }
                }
            }
            
            &-text {
                font-family: 'Play', sans-serif;
                font-size: 15px;
                color: #5994FF;
                letter-spacing: -0.83px;
                text-align: center;
                &:last-of-type {
                    display: inline-block;
                }

                &:first-of-type {
                    display: none;
                }
            }

            &-icon {
                img {
                    transition: transform 300ms;
                }
                display: inline-block;
            }
        }
    }


    &-info {
        display: none;
        @media screen and (min-width: 768px) {
            // padding: 40px 0;
            margin: 10px 0 0;
        }
    }


    &-info__btn {
        width: 100%;
    }

    &-info-item {
        padding: 30px 0;
        border-top: 1px solid #d8d8d8;
        @media screen and (min-width: 768px) {
            // padding: 40px 0;
        }

        &:first-child {
            border: none;
        }
        

        &__title {
            font-family: 'Play', sans-serif;
            font-size: 18px;
            color: #383838;
            letter-spacing: -1px;
            margin: 0;
        }

        &__list {
            @media screen and (min-width: 768px) {
                margin: 0 -60px 0 0;  
                display: flex;
                flex-wrap: wrap;  
            }    
        }

        &__list-item {
            display: flex;
            margin: 15px 0 0;
            @media screen and (min-width: 768px) {
                margin: 20px 60px 0 0;
                width: 275px;
            }    
        }

        &__list-item-text {
            font-family: 'Play', sans-serif;
            font-size: 15px;
            color: #303030;
            letter-spacing: 0;
            line-height: 20px;
            margin: 0;
        }

        &__list-item-icon {
            flex: 0 0 auto;
            margin-right: 15px;
            display: block;
            margin-top: 4px;
        }

        &__text {
            font-family: 'Play', sans-serif;
            font-size: 15px;
            color: #303030;
            letter-spacing: 0;
            line-height: 20px;
            margin: 15px 0 0;    
        }
    }
}
