html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Uroboros Games Ltd.
        link(href='https://fonts.googleapis.com/css?family=Play&display=swap' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Russo+One&display=swap' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Roboto&display=swap' rel='stylesheet')


    body           
        main
            .community
                .wrap
                    h1.community__title Комьюнити
                    p.community__subtitle Присоединяйтесь к нашему сообществу
                    .photos
                        .photos__item
                            img(src="/img/photo-1.png")
                        .photos__item
                            img(src="/img/photo-2.png")
                        .photos__item
                            img(src="/img/photo-3.png")
                        .photos__item
                            img(src="/img/photo-4.png")
                        .photos__item
                            img(src="/img/photo-5.png")

                    .community__bottom
                        .community__bottom-pic
                            img(src="/img/dino.png")
                        .community__bottom-info 
                            h2.community__bottom-title Любим наших игроков
                            p.community__bottom-text Стратегическое планирование, суммируя приведенные примеры, нейтрализует культурный традиционный канал. Имидж искажает стратегический пул лояльных изданий, используя опыт предыдущих кампаний. 
                            .community__bottom-sm.social-links
                                h5.social-links__text Следите за нами в социальных сетях
                                .social-links-wrap
                                    a.social-links__item--twitter.social-links__item
                                        img(src='http://placekitten.com/80/80').social-links__item-pic
                                    a.social-links__item--fb.social-links__item
                                        img(src='http://placekitten.com/80/80').social-links__item-pic
                                    a.social-links__item--instagram.social-links__item
                                        img(src='http://placekitten.com/80/80').social-links__item-pic
                                    a.social-links__item--discord.social-links__item
                                        img(src='http://placekitten.com/80/80').social-links__item-pic



                    


        
        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')