html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Uroboros Games Ltd.
        link(href='https://fonts.googleapis.com/css?family=Play&display=swap' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Russo+One&display=swap' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Roboto&display=swap' rel='stylesheet')


    body           
        main
            .blog
                .wrap
                    h1.blog-title Блог
                    .article
                        a(href="").article-item
                            span.article-item__label._red Игры
                            .article-item__image
                                img(src="http://placeimg.com/900/800")
                            h3.article-item__title Новостной заголовок в одну или несколько строк 
                        
                        a(href="").article-item.wide-item
                            span.article-item__label._red  Игры
                            .article-item__image
                                img(src="http://placeimg.com/900/800")
                            h3.article-item__title Новостной заголовок в одну или несколько строк

                        a(href="").article-item
                            span.article-item__label._red  Игры
                            .article-item__image
                                img(src="http://placeimg.com/900/800")
                            h3.article-item__title Новостной заголовок в одну или несколько строк

                        a(href="").article-item
                            span.article-item__label._red  Игры
                            .article-item__image
                                img(src="http://placeimg.com/900/800")
                            h3.article-item__title Новостной заголовок в одну или несколько строк



                        a(href="").article-item
                            span.article-item__label._red Игры
                            .article-item__image
                                img(src="http://placeimg.com/900/800")
                            h3.article-item__title Новостной заголовок в одну или несколько строк 
                        
                        a(href="").article-item.wide-item
                            span.article-item__label._red  Игры
                            .article-item__image
                                img(src="http://placeimg.com/900/800")
                            h3.article-item__title Новостной заголовок в одну или несколько строк

                        a(href="").article-item.wide-item
                            span.article-item__label._red  Игры
                            .article-item__image
                                img(src="http://placeimg.com/900/800")
                            h3.article-item__title Новостной заголовок в одну или несколько строк

                        a(href="").article-item
                            span.article-item__label._red  Игры
                            .article-item__image
                                img(src="http://placeimg.com/900/800")
                            h3.article-item__title Новостной заголовок в одну или несколько строк

                    button.blog-button#loadBtn
                        span.blog-button__text Показать еще новостей

        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')