html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Uroboros Games Ltd.
        link(href='https://fonts.googleapis.com/css?family=Play&display=swap' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Russo+One&display=swap' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Roboto&display=swap' rel='stylesheet')


    body           
        main
            .vacancy
                .wrap
                    .vacancy__wrap
                        h1.vacancy__title Вакансии
                        p.vacancy__subtitle Присоединяйтесь к нашей команде мечты
                        .vacancy-list
                            .vacancy-item
                                .vacancy-item__header
                                    .vacancy-item__icon 
                                        img(src="/img/vacancy_item_1.png")
                                    h2.vacancy-item__title.--red Game developer
                                p.vacancy-item__city Санкт-Петербург
                                p.vacancy-item__text Мы ищем опытного геймдизайнера, любящего стратегические игры и RPG
                                .vacancy-info
                                    .vacancy-info-item
                                        h3.vacancy-info-item__title Обязаности
                                        .vacancy-info-item__list
                                            .vacancy-info-item__list-item
                                                p.vacancy-info-item__list-item-text Рассчитывать ресурсную экономику развития столицы и новых городов;
                                            .vacancy-info-item__list-item
                                                p.vacancy-info-item__list-item-text Рассчитывать ресурсную экономику развития столицы и новых городов;
                                            .vacancy-info-item__list-item
                                                p.vacancy-info-item__list-item-text Рассчитывать ресурсную экономику развития столицы и новых городов;
                                            .vacancy-info-item__list-item
                                                p.vacancy-info-item__list-item-text Рассчитывать ресурсную экономику развития столицы и новых городов;
                                    .vacancy-info-item
                                        h3.vacancy-info-item__title Требования
                                        .vacancy-info-item__list
                                            .vacancy-info-item__list-item
                                                p.vacancy-info-item__list-item-text Рассчитывать ресурсную экономику развития столицы и новых городов;
                                            .vacancy-info-item__list-item
                                                p.vacancy-info-item__list-item-text Рассчитывать ресурсную экономику развития столицы и новых городов;
                                            .vacancy-info-item__list-item
                                                p.vacancy-info-item__list-item-text Рассчитывать ресурсную экономику развития столицы и новых городов;
                                            .vacancy-info-item__list-item
                                                p.vacancy-info-item__list-item-text Рассчитывать ресурсную экономику развития столицы и новых городов;
                                    .vacancy-info-item
                                        h3.vacancy-info-item__title Дополнительные навыки
                                        p.vacancy-info-item__text Грубо говоря, кандидат принятый на эту должность будет помогать нам создавать и рассчитывать большой и живой стратегический мир-песочницу, в котором живут игроки.
                                    .vacancy-info-item
                                        h3.vacancy-info-item__title Обязаности
                                        .vacancy-info-item__list
                                            .vacancy-info-item__list-item
                                                .vacancy-info-item__list-item-icon
                                                    img(src="/img/ok_icon.svg")
                                                p.vacancy-info-item__list-item-text Рассчитывать ресурсную экономику развития столицы и новых городов;
                                            .vacancy-info-item__list-item
                                                .vacancy-info-item__list-item-icon
                                                    img(src="/img/ok_icon.svg")
                                                p.vacancy-info-item__list-item-text Рассчитывать ресурсную экономику развития столицы и новых городов;
                                            .vacancy-info-item__list-item
                                                .vacancy-info-item__list-item-icon
                                                    img(src="/img/ok_icon.svg")
                                                p.vacancy-info-item__list-item-text Рассчитывать ресурсную экономику развития столицы и новых городов;
                                            .vacancy-info-item__list-item
                                                .vacancy-info-item__list-item-icon
                                                    img(src="/img/ok_icon.svg")
                                                p.vacancy-info-item__list-item-text Рассчитывать ресурсную экономику развития столицы и новых городов;
                                    .vacancy-info__btn.btn
                                    button.button.vacancy-info__btn
                                        span Откликнуться
                                .vacancy-item__more
                                    span.vacancy-item__more-text Скрыть
                                    span.vacancy-item__more-text Подробнее
                                    .vacancy-item__more-icon
                                        img(src="/img/more_icon.svg")
                                    

                    
             
                                        

        
        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')