* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a {
    cursor: pointer;
    text-decoration: none; 
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


.wrap {
    min-width: 320px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 768px) {
        max-width: 738px;
    }

    @media screen and (min-width: 1170px){
        max-width: 1140px;
    }
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
    opacity: 0;
    transition: all 0.8s;
    background-color: #444;
    visibility: hidden;
    &.open {
      visibility: visible;
      opacity: 0.5;
      transition: all 0.8s;
    }
  }

.side-menu {

}

.header {
    padding: 8px 0;
    @media screen and (min-width:1170px) {
        padding: 4px 0;
    }
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(16, 17, 18, 0.4); 
    &-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-side-menu-icon {
        padding: 6px 0;  
        outline: none;  
        @media screen and (min-width: 1170px){
            display: none;
        }
    
        &:hover {
            .header-side-menu-icon__el,
            .header-side-menu-icon__el:before,
            .header-side-menu-icon__el:after {
                box-shadow: 0 0 3px 0 #fff
            }
        }

        &:active {
            .header-side-menu-icon__el,
            .header-side-menu-icon__el:before,
            .header-side-menu-icon__el:after {
                box-shadow: 0 0 3px 0 #20222C;
            }
        }


        &__el {
            display: block;
            background-color: #fff;
            width: 30px;
            height: 3px;
            border-radius: 2px;
            margin: 6px 0;
            position: relative;

            &:after {
                content: '';
                display: block;
                background-color: #fff;
                width: 30px;
                height: 3px;
                border-radius: 2px;
                position: absolute;
                bottom: -9px;
            }

            &:before {
                content: '';
                display: block;
                background-color: #fff;
                width: 30px;
                height: 3px;
                border-radius: 2px;
                position: absolute;
                top: -9px;
            }
        }
    }

    &-navigation {
        display: none;
        @media screen and (min-width: 1170px){
            display: flex;margin-right: auto;
        }
        &__item {
            font-family: 'Play', sans-serif;
            font-size: 20px;
            color: #FFFFFF;
            letter-spacing: 0;
            margin-right: 35px;
        }
    
    }

    &-logo {
        width: 70px;
        @media screen and (min-width: 1170px) {
            width: 87px;
            margin-right: 40px;
        }
        height: auto;
        overflow: hidden;
        text-align: center;
        &__img {
            display: block;
            width: 100%;
            max-width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    &-lang {
        display: flex;
        &__item {
            display: block;
            font-family: 'Play', sans-serif;
            font-size: 18px;
            color: #FFFFFF;
            letter-spacing: 0;
            margin-right: 4px;
            &:not(:first-child):before {
                content: '|';
                margin-right: 4px;
            }

            &:not(:active) {
                color: #d8d8d8;
            }
        }
    }
}

.side-menu {

    @media screen and (min-width: 768px){
        width: auto;
        padding: 20px 30px;
    }

    @media screen and (min-width: 1170px){
        display: none;
    }

    position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    background-color: #20222C;
    right: 100%;
    transition: transform 0.8s;
    &._open {
        transform: translate(100%, 0);
        transition: transform 0.8s;
    }

    &-icon {
        width: 30px;
        height: 30px;
        position: relative;
        outline: none;

        &__el {
            font-size: 0;
            content: '';
            display: block;
            background-color: #fff;
            height: 2px;
            border-radius: 3px;
            position: relative;
            transform: translate(-50%, -50%) rotate(45deg);
            z-index: 3;
            position: relative;
            top: 50%;
            left: 50%;

            &:after {
                content: '';
                display: block;
                background-color: #fff;
                width: 100%;
                height: 3px;
                border-radius: 2px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(180deg);
                z-index: 1;  
            }
    
            &:before {
                content: '';
                display: block;
                background-color: #fff;
                width: 100%;
                height: 3px;
                border-radius: 2px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(90deg);
                z-index: 2;
            }
    
        }
        &:hover {
            .side-menu-icon__el:before,
            .side-menu-icon__el:after {
                box-shadow: 0 0 3px 0 #fff
            }
        }

        &:active {
            .side-menu-icon__el:before,
            .side-menu-icon__el:after {
                box-shadow: 0 0 3px 0 #20222C;
            }
        }

    }

    &-navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
        width: 100%;
        @media screen and (min-width: 768px){
            margin-top: 50px;
            justify-content: flex-start;
        }
    
        &__item {
            display: block;
            width: 100%;
            @media screen and (min-width: 768px){
                width: 250px;
                text-align: left;
                padding: 0 0 0 25px;
            }
        
            font-family: 'Play', sans-serif;
            font-size: 24px;
            color: #FFFFFF;
            letter-spacing: 0;
            text-align: center;   
            margin-bottom: 25px;
            &:last-child {
                margin-bottom: 0;
            }       
        }
    }
}