* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a {
    cursor: pointer;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


.wrap {
    min-width: 320px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 768px) {
        max-width: 738px;
    }

    @media screen and (min-width: 1170px){
        max-width: 1140px;
    }
}

.steam {
    display: inline-block;
    text-align: center;
    border: 1px solid #fff;
    padding: 10px 36px;
    vertical-align: middle;
    background-color: #000;
    border-radius: 8px;
    // width: 200px;
    outline: none;
    transition-duration: 300ms;
    transition-property: border-color;
    svg {
        & > path:first-child {
            transition-duration: 300ms;
            transition-property: fill;            
        }
    }
    &:hover {
        border-color: #e0e0e0;
        transition-duration: 300ms;
        transition-property: border-color;
            svg {
            & > path:first-child {
                transition-duration: 300ms;
                transition-property: fill;            
                fill: #e0e0e0;
            }
        }
    }


    &__icon {
        display: inline-block;
        font-size: 0;
        width: 35px;
        height: 35px;
        margin-right: 12px;
    }

    &__text {
        color: #fff;
        display: inline-block;
        text-decoration: none;
        text-align: left;
        width: 80px;
        font-family: 'Roboto';
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: -0.37px;
        vertical-align: top;
        span {
            font-weight: 900;
        }
        &:hover {
            text-decoration: none;
            color:  #fff;
        }
    }
}

.hero {

    font-size: 0;
    background-image: url('http://placeimg.com/1900/1600');
    // background-color: #f2f2f2;
    background-position: center;
    background-size: cover;

    &-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 77px 0 30px 0;

    }

    &__title {
        font-family: 'Russo One', sans-serif;
        margin-top: 0;
        margin-bottom: 25px;
        font-size: 28px;
        color: #FFFFFF;
        letter-spacing: -0.35px;
        text-align: center;
        line-height: 30px;
        text-shadow: 0 2px 4px rgba(29,29,29,0.60);
    }

    &__image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
        width: 214px;
        height: 158px;
    }

    .social-links {
        margin-top: 42px;
        font-size: 0;
        outline: none;
        
        &__item {
            height: 45px;
            width: 45px;
            border-radius: 8px;
            padding: 10px;
            display: block;
            background-color: #e2e2e2;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50), inset 0 1px 3px 0 rgba(0,0,0,0.50);

            &--twitter {
                background-color: #51BBD7;
            }

            &--fb {
                background-color: #3B599F;
            }

            &--instagram {
                background-color: #CE2A84;
            }

            &--discord {
                background-color: #804DFF;
            }


            &:not(:first-child) {
                margin-left: 20px;
            }
            &-pic {
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }

    .social-links-wrap {
        display: flex;
    }

    
}

.features {
    background-color: #1E2343;
    padding: 45px 0;
    &-title {
        font-family: 'Russo One', sans-serif;
        font-size: 20px;
        color: #FFFFFF;
        letter-spacing: -0.33px;
        text-align: center;
        margin: 0 0 18px 0;
    }

    &-text {
        opacity: 0.6;
        font-family: 'Play', sans-serif;
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: center;
        margin: 0 0 25px 0;
    }

    &-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: -35px;

        &__image {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 150px;height: 150px;
        }
    }

    &-item {
        margin-bottom: 35px;
        max-width: 240px;
        &__image {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 150px;height: 150px;
            img {
                display: block;
                width: 100%;height: auto
            }
        }

        &__text {
            font-family: 'Russo One', sans-serif;
            font-size: 15px;
            color: #FFFFFF;
            letter-spacing: -0.2px;
            text-align: center;
            margin-top: 20px;
            width: 100%;
        }
    }
}


.description {
    background-color: #1E2343;
    
    &-yt-video {
        width: 100%;
        font-size: 0;
        iframe {
            width: 100%;
            height: calc(100vw/16*9);
        }
    }

    &-text-wrap {
        padding: 50px 0 35px;
    }

    &-title {
        display: block;
        font-family: 'Russo One', sans-serif;
        font-size: 20px;
        color: #FFFFFF;
        letter-spacing: -0.33px;
        text-align: center;
        margin: 0;
    }

    &-text {
        display: block;
        margin: 0;
        opacity: 0.6;
        font-family: 'Play';
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: center;
    }

    &-image {
        width: 100%;
        height: auto;
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }


}

.download-game {
    background-color: #1E2343;
    background-image: url('');
    &-wrap {
        padding: 124px 0 64px;
        text-align: center
    }

    &-title {
        font-family: 'Russo one', sans-serif;
        font-size: 24px;
        color: #FFFFFF;
        letter-spacing: -0.3px;
        line-height: 50px;
        text-shadow: 0 2px 4px rgba(46,46,46,0.90);
        margin: 0 0 17px 0;
    }
}